.DS_Store
node_modules
/bin
obj/
.idea
.vscode
/cobhan
/build/*-cid
/build/*.tar
/build/aarch64
/build/x86_64
/build/*.0.0
/build/*.so
/build/*.h
/output
/java-ffi/target
__pycache__
*.pyc
*.class
target/
.classpath
.project
*.tgz
/bak
